{   
   "Version": "2012-10-17",
   "Id": "Read-write-policy-for-ec2",
   "Statement" : [{
      "Sid": "${SID}", 
      "Effect": "Allow",           
      "Action": [
         "sqs:ListQueues",
         "sqs:SendMessage",
         "sqs:ChangeMessageVisibility",
         "sqs:ChangeMessageVisibilityBatch",
         "sqs:DeleteMessage",
         "sqs:DeleteMessageBatch",
         "sqs:GetQueueAttributes",
         "sqs:GetQueueUrl",
         "sqs:ReceiveMessage"
      ], 
      "Resource": "*"  
   }]
}